/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
require gmaps4rails

#user_menu{
	height: 10px;
	background:#AAF;
}
#user_menu h3{
	padding:0;
	margin:0;
	padding-left:50px;
	width: 200px;
	height: 15px;
	float:left;
}
ul.hmenu {
	padding:0;
	margin:0;
	height: 15px;
	padding-right:50px;
  list-style: none;	
  margin: 0 20 2em;
	float:right;
}

ul.hmenu li {
  display: inline;  
}

.hidden{
	display: none;
}

.clear{
	clear:both;
}

.right{
	float: right;
}

.left{
	float: left;
}

button{
	font-size:.8em;
}
